In [1]:
import pandas as pd

#Extracting data:

df1 = pd.read_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/dfPersonalInfoCLEAN.csv')
df2 = pd.read_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/dfrankinfoCLEAN.csv')
df3 = pd.read_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/dfBussinesInfoCLEAN.csv')

#Merging tables:
df4 = pd.merge(df1, df2, on=['id', 'id'])
df_total = pd.merge(df4, df3, on=['id', 'id'])

#eliminating columns that do not add value ('id')
df_total.drop(['id'], axis='columns', inplace=True)

#Exporting clean data: 

df_total.to_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/df_totalCLEAN.csv', index=False)
df_total

,age,gender,country,image,name,position,Source,worth BUSD,worthChange millions USD
0,54,Male,None,https://specials-images.forbesimg.com/imageser...,jeff bezos,1,Technology ==> Amazon,112,0
1,62,None,United States,https://specials-images.forbesimg.com/imageser...,bill gates,2,Technology ==> Microsoft,90,0
2,87,Male,United States,https://specials-images.forbesimg.com/imageser...,warren buffett,3,Finance and Investments ==> Berkshire Hathaway,84,0
3,69,None,None,https://specials-images.forbesimg.com/imageser...,bernard arnault,4,Fashion & Retail ==> LVMH,72,0
4,35,Male,None,https://specials-images.forbesimg.com/imageser...,mark zuckerberg,5,Technology ==> Facebook,71,0
...,...,...,...,...,...,...,...,...,...
2203,51,None,China,https://specials-images.forbesimg.com/imageser...,zhao xiaoqiang,2204,"Fashion & Retail ==> fashion, entertainment",1,0
2204,55,Male,None,https://specials-images.forbesimg.com/imageser...,zhou liangzhang,2205,Manufacturing ==> electrical equipment,1,0
2205,51,None,China,https://specials-images.forbesimg.com/imageser...,zhu xingming,2206,Manufacturing ==> electrical equipment,1,0
2206,52,Female,None,https://specials-images.forbesimg.com/imageser...,zhuo jun,2207,Manufacturing ==> printed circuit boards,1,0
2207,54,None,None,https://specials-images.forbesimg.com/imageser...,olgun zorlu,2208,Diversified ==> diversified,1,0