In [4]:
########WRANGLING-PRUEBA
import sqlite3
import pandas as pd
import numpy as np
import re
import datetime
import os
import requests
from bs4 import BeautifulSoup

#PASO1: ALIMENTACION - QUITAR EN .PY   /// OK 
def read_sql_table(path,table):
    df = sqlite3.connect(path)
    df_table = pd.read_sql_query('SELECT * FROM '+table,df)
    return df_table

def read_and_merge(path):
    df_business_info = read_sql_table(path, 'business_info')
    df_personal_info = read_sql_table(path, 'personal_info')
    df_rank_info = read_sql_table(path, 'rank_info')
    df4 = pd.merge(df_business_info, df_personal_info, on=['id', 'id'])
    df_dirt = pd.merge(df4, df_rank_info, on=['id', 'id'])
    df_dirt.to_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/df_dirt.csv', index=False)
    return df_dirt

#LLAMAR FUNCION ALIMENTACION,PASO1
read_and_merge('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/raw/Miguel318.db')

#PASO INTERMEDIO - NO .PY - EXTRAER df_dirt
df_dirt = pd.read_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/df_dirt.csv')

#PASO2: drop columns 
def dropper(df, list_of_columns):   
    df.drop(list_of_columns, axis=1)
    return df

#LLAMAR FUNCION PASO2
columns_to_drop = ['id','realTimeWorth','Unnamed: 0','Unnamed: 0_x','Unnamed: 0_y','realTimePosition','lastName']
dropper(df_dirt, columns_to_drop)

,id,Unnamed: 0_x,Source,worth,worthChange,realTimeWorth,realTimePosition,lastName,age,Unnamed: 0_y,gender,country,image,name,position,Unnamed: 0
0,4656,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,NaN,1,bEZOS,54 years old,52,M,None,https://specials-images.forbesimg.com/imageser...,jEFF BEZOS,1.0,52
1,1874,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,NaN,2,gATES,62 years old,53,None,United States,https://specials-images.forbesimg.com/imageser...,bill GAtes,2.0,53
2,6703,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,NaN,3,bufFETT,87 years old,54,M,United States,https://specials-images.forbesimg.com/imageser...,WARREN BUFFETt,3.0,54
3,2637,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,NaN,4,arnAULt,69 years old,55,None,None,https://specials-images.forbesimg.com/imageser...,bernaRD ARNAULT,4.0,55
4,8242,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,NaN,5,zUCKERBERG,1985,56,M,None,https://specials-images.forbesimg.com/imageser...,maRK ZUCKERBERG,5.0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,1711,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,NaN,2134,ZHAO,51 years old,2255,None,China,https://specials-images.forbesimg.com/imageser...,zhao xiAOQIang,2204.0,2255
2204,3538,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,NaN,2134,zhOU,55 years old,2256,M,None,https://specials-images.forbesimg.com/imageser...,zhou LIANGZHang,2205.0,2256
2205,7797,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,NaN,1856,ZHU,51 years old,2257,None,China,https://specials-images.forbesimg.com/imageser...,zHU XINGMing,2206.0,2257
2206,3123,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,NaN,1978,ZHUO,52 years old,2258,F,None,https://specials-images.forbesimg.com/imageser...,ZHUO JUN,2207.0,2258
2207,7030,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,NaN,1978,zoRLU,54 years old,2259,None,None,https://specials-images.forbesimg.com/imageser...,olguN ZORLU,2208.0,2259